@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
    box-sizing: border-box;
  }


  .container{
    padding-bottom: 200px;
    background-color: #ffffff;

  }


   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

  .shopping-cart {
    padding-bottom: 200px;
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #bfbbc5;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    font-weight:bolder;
    border-bottom: 3px solid #e4ecf1;
    padding: 20px 30px;
    color: #916ba0;
    font-size: 38px;
    font-weight: 400;
    margin-left: 200px;

  }
   
  .empty {
    margin-top: 20px;
    margin-left: 200px;
    font-weight:bolder;
  }

  .bag{ 
    padding-bottom: 200px;
    background: #bfbbc5;

  }

  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url('/assets/img/delete-icn.svg') no-repeat center;
    margin-right: 20px;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('/assets/img/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
      margin-right: 50px;
  }
   
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;

  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #040505;
    font-weight: 500;

  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #0b0c0e;
    font-weight:bolder;

  }

  	
@media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }
  /* orderDetails */

  .mat-form-field {
    margin-top: 16px;
  }


  .btnOrder {
    color: rgb(181, 101, 185);
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;

  }

  .textLines {
    color:rgb(255, 254, 255);
  }

  .checkoutBtn {
    color:rgb(124, 77, 124);
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    border-style:dotted;
    margin-bottom: 50px;
    margin-left: 10px;


  }

  .total-price {
    font-weight: bold;
    font-size:20px;
    margin-left: 500px;
    margin-top: 20px;


  }

  .checkoutBtn:hover{
    background-color: rgb(255, 255, 255); /* Green */
    
  }

 
