<div class="container">
  <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
          Shopping Bag
      </div>
      <div class="brdr"></div>
      <div class="empty" *ngIf="instruments.length == 0">
          Your shopping bag is empty, Let's go shopping!
      </div>
      
      <div class="bag" *ngIf="instruments && instruments.length > 0" >
          <!-- Product #1 -->
          <div class="item" *ngFor="let obj of instruments; let i = index;">

              <div class="buttons">
                <span class="delete-btn" (click)="removeFromCart(obj)"></span>
              </div>

              <div class="image">
                <img src={{obj.imgPath}} alt="Image" style="width:100px;height:100px;"/>
              </div>

              <div class="description">
                <span>{{obj.name}}</span>
                <span>{{obj.brand}}</span>
              </div>

              <div class="quantity">
                <button class="plus-btn" (click)="addOne(obj)" type="button" name="button">
                <img src="assets/img/plus.svg" alt="plus button" />
                </button>
                <input type="text" name="name" [value]=quantities[i]>
                <button class="minus-btn" (click)="decreaseOne(obj)" type="button" name="button">
                  <img src="assets/img/minus.svg" alt="minus button" />
                </button>
              </div>

              <div class="price" >${{obj.price}}</div>
          </div>
          <div class="total-price">Total Price:${{totalPrice}}
              <button mat-button class="checkoutBtn" (click)=toOrder()>Checkout</button>
          </div>
          


          <mat-stepper #stepper *ngIf="inOrder">
              <mat-step [stepControl]="firstFormGroup!" errorMessage="Full Name is required.">
                <form [formGroup]="firstFormGroup!">
                  <ng-template matStepLabel>Fill out your full name</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="Last name First name" formControlName="firstCtrl" required>
                  </mat-form-field>
                  <div>
                    <p></p>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup!" errorMessage="Address is required.">
                <form [formGroup]="secondFormGroup!">
                  <ng-template matStepLabel>Fill out your address</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="1 Dizengoff, Tel-Aviv" formControlName="secondCtrl"
                          required>
                  </mat-form-field>
                  <div>
                    <p></p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="phoneFormGroup!" errorMessage="Phone number is required.">
                  <form [formGroup]="phoneFormGroup!">
                    <ng-template matStepLabel>Fill out your phone number</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Phone Number</mat-label>
                      <input matInput placeholder="0543435697" formControlName="phoneCtrl"
                            required>
                    </mat-form-field>
                    <div>
                      <p></p>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>

              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p class="textLines">Select done to confirm your order .</p>
                <div>
                  <button mat-button class="btnOrder" matStepperPrevious>Back</button>
                  <button mat-button class="btnOrder" (click)="newOrder()">Done</button>
                </div>
              </mat-step>
            </mat-stepper>


      </div>
  </div>
</div>
    