<div class="wraper">
    <div class="container">
        <div class="leftside">
            <img src="assets/img/logo.png" alt="logoGuitar">
            <span class="title-txt" >Instrumusical</span>
        </div>
        <div class="midbtns">
            <button mat-button class="mapButton"  routerLink ="map" routerLinkActive="activebutton">Our stores</button>
        </div>
        <div>
            <mat-icon>copyright</mat-icon>
            <span>
                All rights belong to Instrumusical
            </span>
        </div>
    </div>
</div>