
<mat-grid-list cols="12">
    <mat-grid-tile rowspan="4" colspan="5"><app-instrument-card></app-instrument-card></mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="5"><app-instrument-card></app-instrument-card></mat-grid-tile>
    <mat-grid-tile rowspan="4" colspan="2"><app-user-card></app-user-card></mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="3"><app-instrument-card></app-instrument-card></mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2"><app-instrument-card></app-instrument-card></mat-grid-tile>
    
</mat-grid-list>
