<mat-grid-list *ngIf="topSellersInstruments && topSellersInstruments.length == 4" cols="12">

    <mat-grid-tile  rowspan="4" colspan="5">
        <img [src]="topSellersInstruments[0].imgPath">
    </mat-grid-tile>

    <mat-grid-tile rowspan="2" colspan="5">
        <img [src]="topSellersInstruments[1].imgPath">
    </mat-grid-tile>

    <mat-grid-tile rowspan="4" colspan="2">
        <app-user-card></app-user-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2" colspan="3">
        <img [src]="topSellersInstruments[2].imgPath">
    </mat-grid-tile>
    
    <mat-grid-tile rowspan="2" colspan="2">
        <img [src]="topSellersInstruments[3].imgPath">
    </mat-grid-tile>
    
</mat-grid-list>
