<div class="mainAdminContainer">
    <div class="addbtnContainer">
        <span class="count">
            Instruments count:
            <div *ngIf="instruments" class="innerCount">{{instruments.length}}</div>
        </span>
        <button class="addbtn" mat-button (click)="addInstrument()">
            <mat-icon *ngIf="!additionPanelDisplay">add</mat-icon>
            {{(!additionPanelDisplay?'Add an instrument':'Close')}}
        </button>
        <span class="count">
            Value: 149,853$
            <!-- <div class="innerCount">put itais map reduce value here</div> -->
        </span>
    </div>


    <div id="addPanel" *ngIf="additionPanelDisplay">

        <mat-form-field hintLabel="Max 20 characters" >
            <mat-label>Name</mat-label>
            <input matInput #input maxlength="20" placeholder="Instrument's name" [(ngModel)]="nameHolder">
            <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        </mat-form-field>
        
        <mat-form-field  class="lnarrow">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="categoryHolder">
            <mat-option value="guitars">Guitars</mat-option>
            <mat-option value="drums">Drums</mat-option>
            <mat-option value="keys">Keys</mat-option>
            <mat-option value="dj-gear">DJ Gear</mat-option>
            <mat-option value="accessories">Accessories</mat-option>
            </mat-select>
            <mat-hint align="end">Please choose catsegory</mat-hint>
        </mat-form-field>
        
        <mat-form-field  class="lnarrow">
            <mat-label>Brand</mat-label>
            <mat-select [(ngModel)]="brandHolder">
                <mat-option value="fender">Fender</mat-option>
                <mat-option value="gibson">Gibson</mat-option>
                <mat-option value="taylor">Taylor</mat-option>
                <mat-option value="ronald">Ronald</mat-option>
                <mat-option value="yamaha">Yamaha</mat-option>
                <mat-option value="dw">DW</mat-option>
                <mat-option value="pearl">Pearl</mat-option>
                <mat-option >Casio</mat-option>
            </mat-select>
            <mat-hint align="end">Please choose brand</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput [(ngModel)]="descriptionHolder" type="text" placeholder="Description" rows="2"></textarea>
            <mat-hint>Tell somthing about this instrument</mat-hint>
        </mat-form-field>

        <mat-form-field class="narrow">
        <input matInput type="number" min="1" [(ngModel)]="quantityHolder" placeholder="Quantity" cols="4" value="1">
            <mat-hint>In stock</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="narrow" >
            <input matInput type="number" min="1" [(ngModel)]="priceHolder" placeholder="Price" value="1000">
            <mat-hint>US $</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="narrow" >
            <input matInput min="0" type="number" [(ngModel)]="soldHolder" placeholder="Sold" [value]="soldHolder">
            <mat-hint>So far</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="lnarrow" >
            <input matInput type="text" [(ngModel)]="imgPathHolder" placeholder="Image name" [value]="imgPathHolder">
        </mat-form-field>
        
        <button (click)="onDoneAdd()" mat-button color="accent"><mat-icon>done</mat-icon>Done</button>
        
    </div>
    <div class="listDiv" *ngIf="instruments">
        <app-instrument-item *ngFor="let instrument of instruments" [instrument]=instrument (onInstrumentDel)="adminAction($event)"></app-instrument-item>
    </div>
    <div *ngIf="!instruments">No instruments yet</div>
</div>