<mat-expansion-panel *ngIf="instrument">
    <mat-expansion-panel-header>
        <mat-panel-title>{{instrument.name}}</mat-panel-title>
        <mat-panel-title>{{instrument.category}}</mat-panel-title>
        <mat-panel-title>{{instrument.brand}}</mat-panel-title>
        <mat-panel-title>{{instrument.price}}$</mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/img/guitar1.jpg" class="imgContainer">
    <p>{{instrument.description}}</p>
    <p>
        <span class="info">in stock:</span>
        <span class="amount">{{instrument.quantity}}</span>

    </p>
    <mat-action-row>
        <!-- <button mat-button>Edit</button> -->
        <button mat-raised-button color="warn" (click)="deleteInstrument()">Delete</button>
    </mat-action-row>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Show reviews</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let review of instrument.reviews">
            <div class="reviewItem" >
                <button color="warn" mat-button>DEL</button>
                <span>{{review}}</span>
            </div>
            <hr color="red">
        </div>

    </mat-expansion-panel>