<mat-expansion-panel *ngIf="instrument">
    <mat-expansion-panel-header>
        <mat-panel-title>{{instrument.name}}</mat-panel-title>
        <mat-panel-title>{{instrument.category}}</mat-panel-title>
        <mat-panel-title>{{instrument.brand}}</mat-panel-title>
    </mat-expansion-panel-header>
    <img [src]= instrument.imgPath class="imgContainer">
    <p>{{instrument.description}}</p>
    <p>
        <span class="info">in stock:</span>
        <mat-icon>remove</mat-icon>
        <span class="amount">{{instrument.quantity}}</span>
        <mat-icon>add</mat-icon>
    </p>
    <mat-action-row>
        <!-- <button mat-button>Edit</button> -->
        <button mat-raised-button (click)="deleteInstrument()" color="warn" >Delete</button>
    </mat-action-row>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Show reviews</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let review of instrument.reviews">
            <div class="reviewItem" >
               
                <span>{{review}}</span>
            </div>
            <hr color="red">
        </div>

    </mat-expansion-panel>