mat-expansion-panel{
    border: 5px solid darkred;
    margin:5px
}

.imgContainer{
    width: 150px;
    height: 150px;
}
.amount{
    font-size: xx-large;
}

.info{
    font-size: large;
    margin-right: 15px;
}

li{
    margin: 5px;
}

.reviewItem{
    display: flex;
    flex-direction: row;
    margin:3px;
    margin-top: 10px;
}