<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<mat-toolbar>
    <img src="assets/img/logo.png" alt="logoGuitar">
    <span class="title-txt" >Instrumusical</span>
    <span class="app-name"></span>

    <button mat-button class="btn" [matMenuTriggerFor]="categories">Categories</button>
    <mat-menu #categories="matMenu">
      <button mat-menu-item class="inner-btn button" routerLink="instruments/guitars" routerLinkActive="activebutton">Guitars</button>
      <button mat-menu-item class="inner-btn button" routerLink="instruments/drums" routerLinkActive="activebutton">Drums</button>
      <button mat-menu-item class="inner-btn button" routerLink="instruments/keys" routerLinkActive="activebutton">Keys</button>
      <button mat-menu-item class="inner-btn button" routerLink="instruments/dj-gear" routerLinkActive="activebutton">DJ Gear</button>
      <button mat-menu-item class="inner-btn button" routerLink="instruments/accessories" routerLinkActive="activebutton">Accessories</button>
    </mat-menu>

    <button mat-button  class="btn"[matMenuTriggerFor]="brands">Brands</button>
    <mat-menu #brands="matMenu">
      <button class="inner-btn" mat-menu-item routerLink="brands/fender" routerLinkActive="activebutton">Fender</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/gibson" routerLinkActive="activebutton">Gibson</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/taylor" routerLinkActive="activebutton">Taylor</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/roland" routerLinkActive="activebutton">Roland</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/yamaha" routerLinkActive="activebutton">Yamaha</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/dw" routerLinkActive="activebutton">DW</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/pearl" routerLinkActive="activebutton">Pearl</button>
      <button class="inner-btn" mat-menu-item routerLink="brands/casio" routerLinkActive="activebutton">Casio</button>
    </mat-menu>

    <span class="spacer"></span>
  
    <form class="search">
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="search" size ="20px">
      <button type="submit" [queryParams]="{searchTxt : search }" routerLink="search" routerLinkActive="activebutton"><i class="fa fa-search button"></i>
      </button>
    </form>

  
    <button mat-button class="btn rightBtn" *ngIf="!logged" (click)="connect('log')">Login</button>
    <button mat-button class="btn rightBtn" *ngIf="!logged" (click)="connect('reg')">Register</button>
    <button *ngIf="currentUser && logged" class="btn rightBtn" (click)="logout()">Log Out</button>

    <button mat-button class="btn rightBtn" (click)="goToCart()" routerLink="cart" routerLinkActive="activebutton">Cart</button>

    <button mat-button class="adminContent" *ngIf="currentUser && currentUser.isAdmin" (click)="showUsers()">Users</button>
    
    
  </mat-toolbar>
  