#dialogContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#dialogActions{
    display: flex;
    flex-direction: row;
}
mat-dialog-content{
    display: flex;
    flex-direction: column;
}

#dialogImg{
    width:70px;
    height:70px;
}