
.sliding-words:hover{
  animation-play-state: paused;
}
.sliding-words-wrapper {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    /* set height to fit one item */
    height: 30px;
    width: 100%;
  }
  
  .sliding-words {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    top: 0;
    animation: slide-words 20s linear infinite;
  }
  
  @keyframes slide-words {
    from {
      left: 0;
    }
    to {
      /* (Word count - 1) * 100% */
      left: +100%;
    }
  }